/*
 * Copyright (c) 2020 duckyb
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/bt.h>

// Layer definitions

#define BASE 0

// -----------------

/ {
    keymap {
        compatible = "zmk,keymap";

        // Base alpha layer

        base {
            label = "Base";
            bindings = <
&kp Q  &kp W  &kp E        &kp R      &kp T          &kp Y          &kp U      &kp I    &kp O      &kp P
&kp A  &kp S  &kp D        &kp F    &lt 2 G          &kp H          &kp J      &kp K    &kp L   &kp SEMI
&kp Z  &kp X  &kp C        &kp V      &kp B          &kp N          &kp M  &kp COMMA  &kp DOT  &kp ENTER
              &none  &lt 1 SPACE  &lt 3 DEL    &lt 4 SPACE  &kp BACKSPACE      &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp C_REWIND C_FAST_FORWARD>;
        };

        number {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans    &trans  &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp RIGHT LEFT>;
        };

        f_media {
            bindings = <
&kp F1  &kp F2  &kp F3     &kp F4        &kp F5             &kp F6  &kp C_AL_MY_COMPUTER         &none   &kp PSCRN  &kp C_AC_BOOKMARKS
&trans  &trans  &trans     &trans        &trans         &kp C_MENU            &kp C_PREV  &kp C_VOL_UP  &kp C_NEXT    &kp C_AC_REFRESH
&trans  &trans  &trans     &trans        &trans      &kp KP_DIVIDE            &kp C_PLAY  &kp C_VOL_DN  &kp C_STOP              &trans
                &trans  &kp LCTRL  &kp LEFT_ALT    &rgb_ug RGB_TOG                &trans        &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp RIGHT LEFT>;
        };

        symbol {
            bindings = <
     &kp EXCL         &kp AT          &kp HASH      &kp DOLLAR  &kp PERCENT          &kp CARET         &kp AMPS         &kp STAR  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS
 &kp QUESTION  &kp LESS_THAN  &kp GREATER_THAN   &kp C_AC_FIND       &trans    &rgb_ug RGB_HUI  &rgb_ug RGB_SAI  &rgb_ug RGB_SPI       &rgb_ug RGB_BRI                 &trans
&kp C_AC_UNDO   &kp C_AC_CUT     &kp C_AC_COPY  &kp C_AC_PASTE       &trans    &rgb_ug RGB_HUD  &rgb_ug RGB_SAD  &rgb_ug RGB_SPD       &rgb_ug RGB_BRD                 &trans
                                        &trans          &trans       &trans    &rgb_ug RGB_EFF  &rgb_ug RGB_EFR           &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp RIGHT LEFT>;
        };

        ble {
            bindings = <
  &bt BT_SEL 0     &bt BT_SEL 1          &bt BT_SEL 2           &bt BT_SEL 3  &bt BT_SEL 4    &trans  &trans  &trans  &trans  &trans
&kp LEFT_BRACE  &kp RIGHT_BRACE  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS        &trans    &trans  &trans  &trans  &trans  &trans
        &trans           &trans      &kp LEFT_BRACKET      &kp RIGHT_BRACKET        &trans    &trans  &trans  &trans  &trans  &trans
                                               &trans                 &trans    &bt BT_CLR    &trans  &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp RIGHT LEFT>;
        };
    };
};
